<a href="https://colab.research.google.com/github/Omdena-Bhutan/introduction-assignment-KelzangDNamgyal/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# string
print("hello kelza")

hello kelza

In [ ]:
# integer
x = 5;
print(x)

5

In [ ]:
# float
y = 3.14;
print(y)

3.14

In [ ]:
#boolean
z = True;
print(z)

True

In [ ]:
# list of numbers
nums = [1, 2, 3, 4, 5];
print(nums)

[1, 2, 3, 4, 5]

In [4]:
# heterogenous list
mixed = [1, "Sonam", 321, "Kelza"];
print(mixed)

[1, 'Sonam', 321, 'Kelza']

In [5]:
mixed[3]

'Kelza'

In [8]:
mixed

[1, 'Sonam', 321, 'Kelza']

In [18]:
# class assignment
# addition of element
fruits = ["Apple", "Banana", "Cherry"];
fruits.append("Mango");
print(fruits);

['Apple', 'Banana', 'Cherry', 'Mango']

In [19]:
# removal of element from the list
fruits.remove("Banana");
fruits;

['Apple', 'Cherry', 'Mango']

In [31]:
# addition of elemet to the start of the list
fruits.insert(0, "Orange");
print(fruits)

['Orange', 'Apple', 'Cherry', 'Mango']

In [33]:
# tuples
my_tuples = ("Kelza", 3.14, "Thimphu");
print(my_tuples);

('Kelza', 3.14, 'Thimphu')

In [41]:
# dictionaries
my_details = {'name': 'Kelza', 'city': 'Thimphu', 'aka': 'Bull'};
print(my_details);

# access the details/element
print('city:', my_details["city"]);

# addition of the element
my_details["country"] = "Bhutan";

# removal of the element
my_details.pop('aka')

print(my_details);

{'name': 'Kelza', 'city': 'Thimphu', 'aka': 'Bull'}
city: Thimphu
{'name': 'Kelza', 'city': 'Thimphu', 'country': 'Bhutan'}

In [48]:
# sets
# cant have dubles/duplicate values
my_set = {1, 2, 3, 5, 1, 2, 4, 5, 5, 4, 7, 8, 4, 6};

# adding element
my_set.add(76)

# remove element
my_set.remove(7)

# for loop
for item in my_set:
  print(item)

print(my_set)

1
2
3
4
5
6
8
76
{1, 2, 3, 4, 5, 6, 8, 76}